aside {
  width: 1440px;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  padding: 156px 156px 174px 156px;
}

.aside__container {
  width: auto;
  height: auto;
  display: flex;
  gap: 68px;
}

.aside__first-row {
  color: #0f1f1c;
  font-weight: 500;
  font-size: 45px;
  line-height: 67.5px;
  margin-bottom: 35px;
  max-width: 565px;
}

.aside__second-row {
  display: flex;
  gap: 33px;
  margin-bottom: 60px;
}

.aside__third-row {
  opacity: 50%;
  color: #0f1f1c;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  margin-bottom: 30px;
}

.aside__fourth-row {
  display: flex;
  gap: 8px;
}

.aside__image-container {
  background-color: rgba(255, 170, 153, 1);
  width: 134px;
  height: 134px;
  border: 0px solid transparent;
  border-radius: 100%;
}

.aside__header {
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aside__name {
  font-weight: 500;
  font-size: 33px;
  line-height: 49.5px;
  color: #0f1f1c;
}

.aside__location {
  font-weight: 400;
  font-size: 25px;
  line-height: 37.5px;
  color: #0f1f1c;
  opacity: 50%;
}

.aside__star {
  width: 59px;
  height: 59px;
  display: flex;
  justify-content: center;
}

.aside__star-image {
  width: 49px;
  height: 47px;
}
