footer {
  width: 1440px;
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
  background-color: rgba(246, 246, 246, 1);
  padding: 0 100px 44px 100px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__button {
  color: rgba(15, 31, 28, 1);
  background-color: rgba(246, 246, 246, 1);
  opacity: 50%;
  font-weight: 500;
  font-size: 15px;
  line-height: 22.5px;
}

.footer__logo {
  color: rgba(255, 124, 78, 1);
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  background-color: rgba(246, 246, 246, 1);
}
